<body>
    <h1>Welcome to CSE Motors</h1>
        <img src="delorean.jpg">
        <ul>
            <l1>3 Cup holders</l1>
            <l2>Superman doors</l2>
            <l3>Fuzzy dice!</l3>
        </ul>
        <p>Own Today</p>
    <h2>Delorean Upgrades</h2>
        <ul>
            <l1>Flux Capacitor</l1>
            <img src="flux-cap.png">
            <l2>Flame Decals</l2>
            <img src="flame.jpg">
            <l3>Bumper Stickers</l3>
            <img src="bumper_sticker.jpg">
            <l4>Hub Caps</l4>
            <img src="hub-cap.jpg">
        </ul>
    <h3>DMC Delorean Reviews</h3>
        <ul>
            <l1>"So fast it's almost like traveling in time." (4/5)</l1>
            <l2>"Coolest ride on the road." (4/5)</l2>
            <l3>"Im feeling McFly!" (5/5)</l3>
            <l4>"The most futuristic ride of our day." (4.5/5)</l4>
            <l5>"80's livin and I love it!" (5/5)</l5>
        </ul>
</body>